# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b4f22e13f0134a9e700e76cf50852b1d0fa1e2991d04b5d5cca72b44fd2d2de310c679030f24bdeed2f2f44cb14de0a91a6a1c6f1f7bfb1cb4b45fb7879ef60c

test:
  secret_key_base: d60d0c984da495310be76ace31e3809bcca8b742c9726369d7ff0f69e19009e414ad60d5880e9300ac134b642f6b057a5a6ecbc4ec1ba24ca383ab30acfa7e55

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
